@using AngularClient.ViewModels;
@model PersonVM[]
<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>List of people</h1>
    <div>
        <table>
            <tr>
                <th>ID</th><th>Name</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr><td>@item.Id</td><td>@item.Name</td></tr>
                
            }
        </table>
    </div>

</body>
</html>
