@using AngularClient.ViewModels;
@model PersonVM[]
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>AngularJS</h1>
    <p>Explainer information</p>
    <div ng-controller="myCtrl">

        <p>Today's welcome message is:</p>
        <h1>{{myWelcome}}</h1>

    </div>
    <div>
        <table>
            <tr>
                <th>ID</th><th>Name</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr><td>@item.Id</td><td>@item.Name</td></tr>
                
            }

        </table>
    </div>

</body>
</html>
