@using AngularClient.ViewModels
@model PersonVM

<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title></title>

    </head>
<body>
    <div>
        <p>@Model.Id</p>
        </br>
        <p>@Model.Name</p>
    </div>
</body>
</html>

